.route-card {
  margin: 0 auto;
  max-width: 1250px;
}

.route-card__desc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.route-card__content-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 700px;
  margin-left: 40px;
  border-radius: 5px;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}

.route-card__label {
  align-self: flex-start;
  margin-left: 16%;
  margin-bottom: 20px;
}

.route-card__input {
  width: 68%;
  border-radius: 5px;
  border: 1px solid $bg-blue;
  padding: 10px;
  margin-bottom: 40px;
}

.route-card__textarea {
  width: 68%;
  min-height: 100px;
  border-radius: 5px;
  border: 1px solid $bg-blue;
  padding: 10px;
  margin-bottom: 40px;
  resize: none;
}

.route-card__next-button {
  border: none;
  min-width: 200px;
  padding: 16px 20px;
  margin-bottom: 30px;
  color: $text-white;
  background-color: $bg-blue;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: $bg-dark-blue;
  }

  &--confirm {
    align-self: center;
  }
}

.route-card__subdivision,
.route-card__notification {
  display: flex;
  width: 700px;
  flex-direction: column;
  align-items: center;
}
